* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

main, p {
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

h1 {
    margin: 30px 0 50px;
    color: #e53170;
    font-weight: 900;
}

.scheda {
    width: calc(100% / 3 - 15px);
    background-color: black;
    float: left;
    margin-top: 40px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5);
}

img {
    float: left;
    height: 100px;
}

.scheda:nth-of-type(3n+2) {
    margin-left: 20px;
    margin-right: 20px;
}

.info {
    float: left;
    text-align: left;
}

.info div {
    margin: 10px;
    color: white;
}

a {
    color: rgb(0, 153, 255);
}

.info > :first-child {
    font-weight: bolder;
}

/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
}  */